body {
	margin: 0px;
	padding:0px;
	font-family: "Caveat";
}
.backg{
	background: linear-gradient(to bottom, #f4036f9c -3%, #030af4 100%);
	height: 650px;
}
.backgd{
	background: linear-gradient(to bottom, #f4036f9c -3%, #030af4 100%);
	height: 2050px;
}
.backgr{
	background-color: slateblue;
	
}
/*NAVBAR*/
.nav {
	background-color: transparent;
	color:white;
	
	position:relative;
	padding-top: 10px;
	padding-bottom: 10px;
	float: right;
	
	font-size: 17px;
	font-weight: bolder;
}
.lic{
	display: inline;
	list-style: none;
	text-decoration: none;
	 overflow: hidden;

}
.linkk{
	text-decoration: none;
	color:white;
	display: block;
	float:left;
	 text-align: center;
    padding: 14px 16px;
}
.linkk:hover {
	border-bottom:2px solid pink;
	
}

/*end of NAVBAR*/

.me{
	
	height: 6%;
	margin-left: 40px;


}
@media only screen and (max-width: 500px){
	.me {
		display: none;

	}
	.content{
		text-align: center;
	}
}
.pad4{
	margin-bottom: 0px;
}
.lis{
	display: inline;
	margin:20px;
	padding-top: 20px;

}
.correct{
	display: inline-flex!important;
}


/*end of header*/
.image{
	background-image: url(images/2.jpg);
	background-repeat: no-repeat;
	width:100%;
	height:550px;
	background-size: cover;
}

.content{
	
	text-align: center;
	
	margin-top: 14%;


	color: white;
	z-index: 10000;

}
.butt{
	background-color:transparent;
	color: white;
	padding-left: 54px;
	padding-right: 54px;
	margin-top:50px; 
	border-radius: 0%;
	border: 1px solid white;

}

.butt:hover {
	background-color: #e060b1;
	color: white;
	border-color: white;
}
.butte{
	background-color:transparent;
	color: white;
	padding-left: 54px;
	padding-right: 54px;
	 
	border-radius: 0%;
	

}
.butte:hover{
border: 2px solid white;
background-color: white;
color:purple;
}
.pp{
	padding: 0px;
	margin: 0px;
}
.about{
	border-bottom:1px solid blue;
	text-align: center;
	display: inline-flex;
	padding-top: 40px;
}

.text{
	padding-left: 100px;
	padding-right: 100px;
}
.read{
	text-decoration: none;
	color: inherit;
}
.black{
	background-color: #557d9c;
	color: white;
}
.work{
	margin-left: 20%;
	margin-right: 20%;
	margin-top: -10%;
	background-color: white;
	height:450px;
	box-shadow: 1px 2px  #88888899;
	text-align: center;
}

.recent{
	padding-top: 30px;
	color:#ff3399;
	text-align: center;
}
.logo{
	
	width:100%;
}
.log{
	border-radius: 50%;
	background-color: white;
	border:1px solid #9C27B0 ;
	width:100px;
	padding :20px;
}
.skill{

	
	display: inline-grid;
}
.formm{


}

/*home page personal*/
.personal{
	background-color:#607d8b9c;
}
.recent {

}
div > ul {
	color: black;
	text-align: center;
}
/*personal ends*/

.port{
	
}
.float{
	float: right;
}

.sizeimage{
	width:20%;
	padding-right: 10px;

}
.contr{
	padding-left:12%; 
	padding-right:12%; 
	
	max-height: 1000px;
}
form > h3 {
	margin:0px;
	padding: 0;
}
@font-face {
font-family: Caveat;
src: url('../fonts/caveat.ttf') format('truetype');
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media screen (min-width: 300px){
.col-3{
	width:10%;
}
}